<div class="content">
    <div class="header">
        <h1>Phase 1: Generate Ideas</h1>
    </div>
</div>

<div class="content">
    <p class="ui compact message">
        Use your votes to choose which ideas you believe the team should explore.
    </p>
    <br/>
    <p class="ui compact message" [class.info]="totalVotes != 0" [class.error]="totalVotes == 0">
        You have {{ totalVotes }} votes left.
    </p>
</div>

<div class="content">
    <div class="header">
        <h2>Current Ideas:</h2>
    </div>
    <div class="ui relaxed divided list">
        
        <comment-component 
            *ngFor="let currentProject of project.ideas; let i = index"
            [votes]="currentProject.votes"
            >
            <div class="content">{{ currentProject.text }}</div>
        </comment-component>
    </div>
</div>