<div class="section">
  <h2>Possible Ideas</h2>
<div class="cards" *ngIf="project">

  <app-card *ngFor="let idea of project.ideas; let i = index;">
    <div class="header"></div>
    <div class="content">{{ idea.text }}</div>
    <div class="meta">{{ formatTime( idea.timestamp ) }}</div>
    <div class="action-left">
      <a (click)="toggleStar(i)"><i class="star icon" [class.active]="checkStarred(i)"></i>{{ starCount(i) }}</a>
    </div>
    <div class="action-right" *ngIf="checkOwner(i)">
      <a (click)="editIdea(i)"><i class="pencil icon"></i></a>
      <a (click)="deleteIdea(i)"><i class="trash icon"></i></a>
    </div>
  </app-card>

  <app-card [class.transparent]="true" [routerLink]="['idea/create']" [isLink]="isLink()">
    <div class="header">Add an Idea</div>
    <div class="content">
      <i class="placeholder-text"></i>
      <i class="plus icon"></i>
    </div>
  </app-card>

</div>
</div>
