<div class="content">
    <div class="header">
        <h1>Phase 1: Generate Ideas</h1>
    </div>
</div>

<div class="content">
    <h3>Add an idea:</h3>
    <form class="ui form">
        <textarea [(ngModel)]="newIdea" name="newIdea"></textarea>
        <a class="ui primary button right floated" (click)="onAddIdea($event)">Add Idea</a>
    </form>
</div>

<div class="content">
    <div class="header">
        <h2>Current Ideas:</h2>
    </div>
    <div class="ui relaxed divided list" >
        <div class="item" *ngFor="let currentIdea of invertList( idea.ideas ); let i = index" >
            <img *ngIf="currentIdea.owner.email" [src]="getGravitar( currentIdea.owner.email )" class="left floated ui circular image" />
            <p class="ui text">{{ currentIdea.owner.name ? currentIdea.owner.name : currentIdea.owner.email }} - {{ formatTime( currentIdea.timestamp ) }}</p>
            <h3 class="left floated ">{{ currentIdea.text }}</h3>
                <button 
                    class="ui labeled icon button basic right floated"
                    (click)="onRemoveIdea({ i: i, idea: currentIdea })"
                >
                    <i class="trash icon"></i>
                    Delete
                </button>
                <button 
                    class="ui labeled icon button basic right floated"
                    (click)="onEditIdea({ idea: currentIdea })"
                >
                    <i class="pencil icon"></i>
                    Edit
                </button>
        </div>
    </div>
    <modal *ngIf="showModal" [visibility]="showModal">
        <header>This is the header</header>
        <content>{{ modalContent }}</content>
    </modal>
</div>