.button{
  padding: .5em 1em;
  display: inline-block;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: all .5s;

  &:hover{
    background: #f3f3f3;
  }

  &.primary{
    background: #7755a5;
    color: #fff;
    border-color: #7755a5;

    &:hover {
      background: #8C6DB7;
    }
  }

  &.danger {
    background: #D74E21;
    color: white;
    border-color: #D74E21;

    &:hover {
      background: #E35C2F;
    }
  }

  &.disabled{
    opacity: .5;
  }

  + .button{
    margin-left: 1em;
  }

}
