<div class="content">
    <div class="header">
        <h1>Phase 1: Generate Ideas</h1>
    </div>
</div>
<div class="content">
    <h3>Add an idea:</h3>
    <text-input
        (save)="onSave($event)"
        >
    </text-input>
</div>

<div class="content">
    <div class="header">
        <h2>Current Ideas:</h2>
    </div>
    <div class="ui feed">
        <comment-component 
            *ngFor="let currentIdea of invertList( project.ideas ); let i = index"
            [index]="i"
            [avitar]="getGravitar( currentIdea.owner.email )"
            [author]="currentIdea.owner"
            [timestamp]="formatTime(currentIdea.timestamp)"
            [edit]="checkPermissions( currentIdea.owner )"
            [votes]="currentIdea.votes"
            (deleteEvent)="deleteHandler($event)"
            (editEvent)="editHandler($event)"
            (voteEvent)="voteHandler($event)"
            
            >
            <div class="content">{{ currentIdea.text }}</div>
        </comment-component>
    </div>
    <modal-component 
        *ngIf="showModal" 
        [visibility]="showModal" 
        (closeEvent)="modalCloseHandler($event)"
        (saveEvent)="modalSaveHandler($event)"
        [editable]="true"
        [editContent]="modalContent">
        <header>Edit Comment</header>
    </modal-component>
</div>