

    <div id="my-projects" class="section">

      <h2>My Projects</h2>

      <div class="cards">

          <card-component *ngFor="let project of projects" [routerLink]="['project/' + project.id]">
            <div class="header">{{ project.name }}</div>
            <div class="content">{{ project.description }}</div>
          </card-component>

          <card-component [class.transparent]="true" [routerLink]="['/project/create']">
            <div class="header">Create New Project</div>
            <div class="content">
              <i class="placeholder-text"></i>
              <i class="plus icon"></i>
            </div>
          </card-component>

      </div><!--.cards-->

    </div><!--#my-projects-->
