

      <h2>Recent Updates</h2>

      <div class="feed">

        <div class="feed-item">
          <i class="add user icon"></i>
          <p>
            <a href="#">Marie Schacht</a> joined your team <a href="#">MarkupShop</a>
            <span class="meta timestamp">1 Hour Ago</span>
          </p>
        </div><!--.feed-item-->

        <div class="feed-item">
          <i class="right arrow icon"></i>
          <p>
            <a href="#">Josh Mobley</a> moved project <a href="#">Make Hopscotch Awesome</a> forward
            <span class="meta timestamp">3 Hours Ago</span>
          </p>
        </div><!--.feed-item-->
        <div *ngIf="feed">
        <div class="feed-item" *ngFor="let item of feed">
          <i class="add icon"></i>
            <p>
              <a href="#">{{ item.user }}</a> {{ item.action }} to {{ item.project }}
              <span class="meta timestamp">{{ item.timestamp }}</span>
            </p>
        </div>
        </div>

      </div><!--.feed-->

