<header-component></header-component>
<main id="project" *ngIf="project">

    <div class="ui cards grid">

        <generate-component
            *ngIf="project.state == 1" 
            [project]="project"
            (text)="project"
        ></generate-component>

        <select-component
            [project]="project"
            *ngIf="project.state == 2">
        </select-component>

        <explore-component
            [project]="project"
            *ngIf="project.state == 3">
        </explore-component>

        <info-pane-component
            [goals]="project.goals"
            [owner]="project.owner"
            (settingsEvent)="handlerSettings($event)"
            (nextPhaseEvent)="handlerNextPhase($event)">

            <h1 class="header">{{ project.name }}</h1>
            <p class="description">{{ project.description }}</p>

        </info-pane-component>

    </div>

</main>
<footer-component></footer-component>