<div class="content">
    <div class="ui ordered four steps">
        <div class="active step">
            <div class="content">
                <div class="title">Generate</div>
                <div class="content">Propose ideas with reckless abandon</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Explore</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Consider</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Decide</div>
            </div>
        </div>

    </div>
</div>
<div class="content">
    <div class="ui icon message blue">
        <i class="talk outline icon"></i>
            Create as many ideas as you can.
    </div>
</div>

<div class="content">
    <div class="ui header">Possible Ideas
    </div>
    <div class="ui cards">
        <comment-component
            *ngFor="let currentIdea of project.ideas; let i = index"
            [index]="i"
            [idea]="currentIdea"
            [project]="project"
            (deleteEvent)="deleteHandler($event)"
            (editEvent)="editHandler($event)"
            (voteEvent)="voteHandler($event)"

            >
            <div class="content">{{ currentIdea.text }}</div>
        </comment-component>
        <div class="ui card">
            <div class="content">
                <div class="header">Create a New Idea</div>
                <p>
            </div>

            <button class="ui icon button" (click)="addIdea()">
                <i class="plus icon"></i>
                Add Idea
            </button>
        </div>
    </div>
    <modal-component
        *ngIf="showModal"
        [visibility]="showModal"
        (closeEvent)="modalCloseHandler($event)"
        (saveEvent)="modalSaveHandler($event)"
        [editable]="true"
        [editContent]="modalContent">
        <header>Edit Comment</header>
    </modal-component>
</div>
