

 <!--   <div 
        class="ui button labeled icon basic mini right floated" 
        *ngIf="votes != undefined" 
        >
        <i class="plus icon"></i>
        {{ votes }}
    </div>-->

    <div class="label" *ngIf="avitar">
        <img 
        class="ui circular mini image floated left"
        [src]="avitar"  />
    </div>

    <div class="content">
        <div class="date">{{ author.name ? author.name : author.email }} - {{ timestamp }} 
            <span *ngIf="votes && votes.count != 0"><i class="star icon"></i> {{ votes.count }} Favorites</span>
        </div>
        <div class="summary">
            <ng-content select=".content"></ng-content>
        </div>

      <div class="meta">



            <a class="star" 
              *ngIf="!checkVote()"
              (click)="onVote()"
            >
            <i class="empty star icon"></i> Favorite
        </a>

        <a class="star" 
              *ngIf="checkVote()"
              (click)="onVote()"
            >
            <i class="star icon"></i> Remove Favorite
        </a>

        <a class="edit"
        (click)="onEdit()"
        *ngIf="edit">
          <i class="pencil icon"></i> Edit
        </a>

        <a class="delete"
        *ngIf="edit"
        (click)="onDelete()">
          <i class="trash icon"></i> Delete
        </a>
      </div>
    </div>