<div class="content">
    <div class="ui ordered four steps">
        <div class="active step">
            <div class="content">
                <div class="title">Generate</div>
                <div class="content">Propose ideas with reckless abandon</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Explore</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Consider</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Decide</div>
            </div>
        </div>

    </div>
</div>

<div class="content">
    <div class="ui icon message blue">
        <i class="checkmark box icon"></i>
            Choose the best ideas to move forward.
    </div>
    <div class="ui header">Possible Ideas
    </div>
    <div class="ui feed">
        <comment-component 
            *ngFor="let currentIdea of project.ideas; let i = index"
            [index]="i"
            [author]="currentIdea.owner"
            [timestamp]="currentIdea.timestamp"
            [votes]="currentIdea.votes"
            [active]="false"
            (deleteEvent)="deleteHandler($event)"
            (editEvent)="editHandler($event)"
            (voteEvent)="voteHandler($event)"
            
            >
            <div class="content">{{ currentIdea.text }}</div>
        </comment-component>
    </div>
    <modal-component 
        *ngIf="showModal" 
        [visibility]="showModal" 
        (closeEvent)="modalCloseHandler($event)"
        (saveEvent)="modalSaveHandler($event)"
        [editable]="true"
        [editContent]="modalContent">
        <header>Edit Comment</header>
    </modal-component>
</div>