<div class="content">
    <div class="header">
        <h1>Phase 2: Explore Ideas</h1>
    </div>
</div>

<div class="content">
    <p class="ui compact message">
        To begin Phase 3, choose which ideas to move forward. Alternatively, you could park ideas for later.
    </p>
</div>

<div class="content">
    <div class="header">
        <h2>Ideas to consider:</h2>
    </div>
    <div class="ui relaxed divided list">
        <div class="item" *ngFor="let currentIdea of idea.ideas; let i = index">
            <p class="header left floated ">{{ currentIdea.text }}</p>
                <div class="right floated">
                    <button
                        class="ui labeled icon basic button"
                    >
                        <i class="save icon"></i>
                        Save for Later
                    </button>
                    <button
                        class="ui labeled icon basic button"
                    >
                        <i class="arrow circle right icon"></i>
                        Move Forward
                    </button>
                    <div 
                        class="ui label large"
                    >
                       Votes
                        <span class="detail">{{ currentIdea.votes }}</span>
                    </div>
                </div>
        </div>
    </div>
</div>