.sign-up{
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #ccc;
    text-align: center;
}

h3, h5{ text-align: center; }
h3{ text-transform: uppercase; }
h5{ margin-top: 2em;}

input + label{
    margin-top: 1em;
}

.btn-wrapper{
    margin-top: 1em;
    text-align: center;
}