<header-component></header-component>

<main id="dashboard">

  <section class="main-content">

    <dashboard-projects></dashboard-projects>
    <dashboard-updates></dashboard-updates>


  </section>

  <aside class="sidebar">

    <dashboard-teams></dashboard-teams>

  </aside>

  <!--

    <div class="segment twelve wide column">


        <h3 class="ui header violet">My Projects
          <button class="ui button violet compact tiny right floated "><i class="plus icon"></i>New Project</button>
        </h3>

      <div class="ui segment vertical">

        <div class="ui cards">

          <card-component *ngFor="let project of projects">
            <div class="header">{{ project.name }}</div>
            <div class="content">{{ project.description }}</div>
            <div class="link" [routerLink]="['project/' + project.id]">View Project</div>
          </card-component>

        </div>

      </div>
        <h3 class="ui header violet">Recent Updates</h3>

      <div class="ui segment vertical">
        <div class="ui feed">

          <div class="event">
            <div class="label">
              <i class="add user icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Marie Schacht
                </a> joined your team
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <i class="arrow right icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Josh Mobley
                </a> moved project
                <a>
                  Make Hopscotch Awesome
                </a> forward
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="segment four wide column">

      <h3 class="ui header violet">My Teams
          <button class="ui button violet compact tiny right floated "><i class="plus icon"></i>Join Team</button>
      </h3>

      <div class="ui segment">
          <div class="content">This is a team</div>

      </div>

    </div>




  </section> -->
</main>
<footer-component></footer-component>
