.cards{
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  flex-wrap: wrap;

  .card{
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid #ddd;
    background: #fff;
    padding: 1em 1em 3em;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .5s, box-shadow .5s;

    &.link{

      &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1px 5px #ccc;
      }

    }

    .header{
      border-bottom: 1px solid #ddd;
      padding-bottom: 1em;
      margin-bottom: 1em;
      font-weight: bold;
    }

    .meta{
      font-size: .8em;
      color: #aaa;
      position: absolute;
      top: .5em;
      right: 1.5em;
    }

    .link{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: .5em 1em;
      text-align: center;
      background: #5d8acd;
      color: #fff;
      cursor: pointer;
      transition: background .5s;
      border-radius: 0 0 6px 6px;

      &:hover{
        background: #77a0dc;
      }
    }

    &.transparent{
      opacity: .6;
      transition: all .5s;

      &:hover{
        opacity: 1;
      }
    }

  }

  .plus.icon{
    font-size: 3em;
    width: 100%;
    color: #ddd;
    text-align: center;
    display: block;
    transition: color .5s;
  }

  .card:hover{
    .plus.icon{
      color: #77a0dc;
    }
  }

}



.placeholder-text{
  height: 1.2em;
  width: 100%;
  background: #eee;
  display: block;

  &:before, &:after{
    height: 1.2em;
    width: 100%;
    background: #eee;
    margin: 0 0 .75em;
    display: block;
    content: '';
  }
}
