.feed{

  .feed-item{

    .icon{
      display: inline-block;
      margin-right: .5em;
    }

    p{
      display: inline-block;
    }

    .meta{
      font-size: .8em;
      color: #666;
      margin-left: .5em;
    }

  }

}
