.centered-colored{
  align-items: center;
  justify-content: center;
  background: linear-gradient( -240deg, #4160a4, #95e0ce );
}

.login-box{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2em;
  box-sizing: border-box;
  background: #fff;
}
