<main id="team">

  <div class="content" *ngIf="team">
  <h2>{{ team.name }}</h2>

  <div class="members">
    <h3>Members</h3>
    <table *ngIf="members">
      <tr *ngFor="let user of members">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="small"><a routerLink="#">Edit</a></td>
        <td class="small"><a routerLink="#">Remove</a></td>
      </tr>
    </table>
    <button class="button primary" (click)="createTeam()">Add a Member</button>
  </div>
  </div>

</main>
