<main id="team">

  <div class="content">
  <h2>Team Name</h2>

  <div class="members">
    <h3>Members</h3>
    <table>
      <tr>
        <td>Josh Mobley</td>
        <td>jmob1986@gmail.com</td>
        <td class="small"><a routerLink="#">Edit</a></td>
        <td class="small"><a routerLink="#">Remove</a></td>
      </tr>
      <tr>
        <td>Marie Schacht</td>
        <td>marie.schacht@gmail.com</td>
        <td class="small"><a routerLink="#">Edit</a></td>
        <td class="small"><a routerLink="#">Remove</a></td>
      </tr>
    </table>
    <button class="button primary" (click)="createTeam()">Add a Member</button>
  </div>
  </div>

</main>
