<header-component></header-component>

<main>

  <section id="dashboard">

    <div class="ui cards">

      <card-component *ngFor="let project of projects">
        <div class="header">{{ project.name }}</div>
        <div class="content">{{ project.description }}</div>
        <div class="link" [routerLink]="['project/' + project.id]">View Project</div>
      </card-component>

      <card-component>
        <div class="header">Add a Project</div>
        <div class="content">Start a new project</div>
        <div class="link" [routerLink]="['/project/create']">Create Project</div>
      </card-component>

    </div>
  </section>
</main>
<footer-component></footer-component>