<header-component></header-component>
<main id="project" *ngIf="project">

    <div class="ui breadcrumb">
        
        <i class="left angle icon divider"></i>
        <a class="section">Back to Project</a>
    </div>

    <div class="ui cards grid">



        <div class="ui card eleven wide column">

            <div class="content">

                <div class="right floated right aligned">
                    <div class="ui tiny header">
                        <div class="content">
                        <div class="sub header">Champion</div>
                        {{ idea.owner.email }}
                        </div>
                        <img class="ui avatar" [src]="fetchGravitar( idea.owner )" />
                    </div>
                </div>

                <div class="header">
                    {{ idea.text }}
                </div>

            </div>


            <div class="content">
                <div class="ui header">
                    Additional Questions
                </div>
                <div class="content">
                    <ul>
                        <li *ngFor="let question of idea.questions">{{ question.text }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <info-pane-component
            [goals]="project.goals"
            [owner]="project.owner"
            (settingsEvent)="handlerSettings($event)"
            (nextPhaseEvent)="handlerNextPhase($event)">

            <h1 class="header">{{ project.name }}</h1>
            <p class="description">{{ project.description }}</p>

        </info-pane-component>

    </div>

</main>
<footer-component></footer-component>