<div class="content">
    <div class="ui ordered four steps">
        <div class="completed step">
            <div class="content">
                <div class="title">Generate</div>
            </div>
        </div>
        <div class="active step">
            <div class="content">
                <div class="title">Explore</div>
                <div class="content">Test the edges of each idea</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Consider</div>
            </div>
        </div>
        <div class="disabled step">
            <div class="content">
                <div class="title">Decide</div>
            </div>
        </div>
    </div>
</div>

<div class="content">

    <div class="ui header">Ideas to Explore</div>

    <div class="ui cards">
        <ng-container *ngFor="let currentIdea of invertList( project.ideas ); let i = index">
        <comment-component 
            *ngIf="currentIdea.state == 3"
            [index]="i"
            [author]="currentIdea.owner"
            [timestamp]="currentIdea.timestamp"
            [votes]="currentIdea.votes"
            [active]="false"
            
            >
            <div class="content">{{ currentIdea.text }}</div>
        </comment-component>
        </ng-container>

</div>